<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${author.name}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link th:href="@{/styles/header-footer-style.css}" rel="stylesheet" />
  <link th:href="@{/styles/body-style.css}" rel="stylesheet" />
</head>

<header>
  <a th:href="@{/books}">
    <img th:src="@{/images/logo.jpg}" alt="logo" class="logo"/>
  </a>
  <div class="title">
    <h1>Книжный магазин
      <br/>Мудрая голова</h1>
  </div>
  <nav class="menu">
    <ul id="topmenu">
      <li><a th:href="@{/books}">Каталог книг</a></li>
      <li><a href="#">Список авторов</a></li>
      <li><a href="#">Список издательств</a></li>
    </ul>
  </nav>
</header>

<a href="javascript:history.back()">Вернуться назад</a><br/>

<body>
<div class="container">
<span th:text="${'ID: ' + author.id}"/><br/>
<span th:text="${'Имя: ' + author.name}"/><br/>
<span th:text="${'Книги: ' + author.books}"/><br/>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
    <th scope="col">Название</th>
    <th scope="col">Авторы</th>
    <th scope="col">Издательство</th>
    <th scope="col">Жанр</th>
    <th scope="col">Год публикации</th>
    <th scope="col">Цена</th>
    </thead>
    <tbody>
    <tr th:each="book : ${author.books}">
      <th scope="row">
        <a th:text="${book.title}" th:href="@{'/books/' + ${book.id}}"/>
      </th>
      <td>
        <dl style="list-style-type: none;">
          <dt th:each="author : ${book.authors}" style="font-weight: normal;"><a th:text="${author.name}"
                                                                                 th:href="@{'/authors/' + ${author.id}}"/>
          <dt/>
        </dl>
      </td>
      <td><a th:text="${book.getPublisher().getName()}"
             th:href="@{'/publishers/' + ${book.getPublisher().getId()}}"/>
      </td>
      <td th:text="${book.genre}"/>
      <td th:text="${book.publishingYear}"/>
      <td th:text="${book.price}"/>
    </tr>
    </tbody>
  </table>
</div>
<footer>
  <p class="copyright">2024 Никулин Иван, iniku@sfedu.ru</p>
</footer>
</body>
</html>