<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Каталог книг</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link th:href="@{/styles/header-footer-style.css}" rel="stylesheet" />
    <link th:href="@{/styles/body-style.css}" rel="stylesheet" />
</head>

<body>
<header>
    <a th:href="@{/books}">
        <img th:src="@{/images/logo.jpg}" alt="logo" class="logo"/>
    </a>
    <div class="title">
        <h1>Книжный магазин
            <br/>Мудрая голова</h1>
    </div>
    <nav class="menu">
        <ul id="topmenu">
            <li><a th:href="@{/books}">Каталог книг</a></li>
            <li><a href="#">Список авторов</a></li>
            <li><a href="#">Список издательств</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <a th:href="@{/books?page=1}">1</a>
    <a th:href="@{/books?page=2}">2</a>
    <a th:href="@{/books?page=3}">3</a>
    <a th:href="@{/books?page=4}">4</a>
    <a th:href="@{/books?page=5}">5</a>
    <table class="table table-hover">
        <thead>
        <th scope="col">Название</th>
        <th scope="col">Авторы</th>
        <th scope="col">Издательство</th>
        <th scope="col">Жанр</th>
        <th scope="col">Год публикации</th>
        <th scope="col">Цена</th>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <th scope="row">
                <a th:text="${book.title}" th:href="@{'/books/' + ${book.id}}"/>
            </th>
            <td>
                <dl>
                    <dt th:each="author : ${book.authors}" style="font-weight: normal;"><a th:text="${author.name}"
                                                                                           th:href="@{'/authors/' + ${author.id}}"/>
                    <dt/>
                </dl>
            </td>
            <td><a th:text="${book.getPublisher().getName()}"
                   th:href="@{'/publishers/' + ${book.getPublisher().getId()}}"/>
            </td>
            <td th:text="${book.genre}"/>
            <td th:text="${book.publishingYear}"/>
            <td th:text="${book.price}"/>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/books?page=1}">1</a>
    <a th:href="@{/books?page=2}">2</a>
    <a th:href="@{/books?page=3}">3</a>
    <a th:href="@{/books?page=4}">4</a>
    <a th:href="@{/books?page=5}">5</a>
</div>
<footer>
    <p class="copyright">2024 Никулин Иван, iniku@sfedu.ru</p>
</footer>
</body>
</html>
<!--    <span th:text="${'Всего товаров ' + books.size()}"/>-->
<!--    <br>-->
<!--    <form th:action="@{/books/add}"-->
<!--          th:object="${book}" method="post" class="form-horizontal">-->

<!--        <div style="margin-bottom: 25px" class="input-group">-->
<!--            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
<!--            <input th:field="*{id}" placeholder="id (*)" class="form-control"/>-->
<!--        </div>-->

<!--        <div style="margin-bottom: 25px" class="input-group">-->
<!--            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
<!--            <input th:field="*{title}" placeholder="title (*)" class="form-control"/>-->
<!--        </div>-->

<!--        <div style="margin-bottom: 25px" class="input-group">-->
<!--            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
<!--            <input th:field="*{price}" placeholder="price (*)" class="form-control"/>-->
<!--        </div>-->

<!--        <div style="margin-top: 10px" class="form-group">-->
<!--            <div class="col-sm-6 controls">-->
<!--                <button type="submit" class="btn btn-primary">Add</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->