<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.title}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link th:href="@{/styles/header-footer-style.css}" rel="stylesheet" />
    <link th:href="@{/styles/body-style.css}" rel="stylesheet" />
</head>

<header>
    <a th:href="@{/books}">
        <img th:src="@{/images/logo.jpg}" alt="logo" class="logo"/>
    </a>
    <div class="title">
        <h1>Книжный магазин
            <br/>
            Мудрая голова</h1>
    </div>
    <nav class="menu">
        <ul id="topmenu">
            <li><a th:href="@{/books}">Каталог книг</a></li>
            <li><a href="#">Список авторов</a></li>
            <li><a href="#">Список издательств</a></li>
        </ul>
    </nav>
</header>
<a href="javascript:history.back()">Вернуться назад</a><br/>
<body>
<div class="container">
    <span th:text="${'ID: ' + book.id}"/><br/>
    <span th:text="${'Название: ' + book.title}"/><br/>
    <span th:text="${'Авторы: ' + book.authors}"/><br/>
    <span th:text="${'Издатель: ' + book.publisher.name}"/>
    <span th:text="${'Год выпуска: ' + book.publishingYear}"/><br/>
    <span th:text="${'Жанр: ' + book.genre}"/>
</div>
<footer>
    <p class="copyright">2024 Никулин Иван, iniku@sfedu.ru</p>
</footer>
</body>
</html>