header {
    background: #000000;
    display: block;
    overflow: auto;
    position: relative;
    margin-bottom: 15px;
}
nav {
    display: block;
    position: absolute;
    bottom: 0;
    left: 250px;
}
#topmenu {
    margin: 0;
    padding: 0;
    list-style: none;
}
#topmenu li {
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    min-width: 80px;
}
#topmenu a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    height: 100%;
    font-size: 125%;
    font-weight: bold;
}
#topmenu a:visited {
 color: #FFFFFF;
}
#topmenu a:hover {
 color: #cfd2d8;
}
.logo {
    float: left;
    margin: 0 16px 0 10px;
    width: 200px;
}
.title {
    color: #FFFFFF;
}

footer {
    background: #000000;
    padding: 0 15px 10px;
}

.copyright {
    color: #FFFFFF;
    font-weight: bold;
    margin: 1em 0;
    clear: left;
}
